{% load static wagtailcore_tags wagtailuserbar favicon_tags custom_filters %}
<!DOCTYPE html>
<html lang="es" >
  <head>
    <meta charset="utf-8" />
    {% favicon_meta %}
    {% if settings.wanalytics.AnalyticsSettings.head_scripts %}
      {{ settings.wanalytics.AnalyticsSettings.head_scripts|safe }}
    {% endif %}

    {% if settings.wanalytics.AnalyticsSettings.gads_id %}
    <!-- Global site tag (gtag.js) - Google Ads: 665045883 -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=AW-{{ settings.wanalytics.AnalyticsSettings.gads_id }}"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'AW-{{ settings.wanalytics.AnalyticsSettings.gads_id }}');
      </script>
    <!-- End Google Tag Manager -->
    {% endif %}

    {% if settings.wanalytics.AnalyticsSettings.gtm_id %}
    <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      ' https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-{{ settings.wanalytics.AnalyticsSettings.gtm_id }}');</script>
      <!-- End Google Tag Manager -->
    {% endif %}

    {% block meta_tag %}
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
          {% with self.get_site.site_name as site_name %}
              {% if site_name %}| {{ site_name }}{% endif %}
          {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="{{ page.search_description }}" />
    {% endblock meta_tag %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    {% if page.canonical_url %}
      <link rel="canonical" href="{{ page.canonical_url }}"/>
    {% endif %}

    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/floating-wpp.min.css' %}"> {% endcomment %}
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% if settings.wanalytics.AnalyticsSettings.body_scripts %}
      {{ settings.wanalytics.AnalyticsSettings.body_scripts|safe }}
    {% endif %}
    <!-- Google Tag Manager (noscript) -->
    {% if settings.wanalytics.AnalyticsSettings.gtm_id %}    
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-{{ settings.wanalytics.AnalyticsSettings.gtm_id }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% endif %} 
    <!-- End Google Tag Manager (noscript) -->

    {% wagtailuserbar %}



    {% comment %} https://github.com/rafaelbotazini/floating-whatsapp {% endcomment %}
    {% comment %} <div id="whatsapp" class="z-10000 fixed bottom-12 left-1 sm:left-3 lg:left-10 xl:left-20 2xl:left-40"></div> {% endcomment %}
    
    {% block content %}
    {% endblock %}

    <div id="wapp" class="fixed bottom-12 right-4 w-16 xl:right-32 border-none">
      <a href="https://wa.me/591{{ settings.wgeneralData.GeneralSettings.cel }}?text={{ settings.wgeneralData.GeneralSettings.mjeGlobo|replace_space }}" aria-label="Whatsapp">
        <svg fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 125 125">
            <path fill="#ffffff" class="sombra-x2" d="M6 116a1 1 0 0 1-2-2l8-28a56 56 0 1 1 23 22l-29 8z" />
            <path fill="#40c351"
                d="M93 27c-8-9-20-14-32-14a46 46 0 0 0-39 70l2 2-5 17 17-5 2 1a46 46 0 0 0 55-71z" />
            <path fill="#ffffff"
                d="m47 36-3-3h-2l-4 2c-1 2-5 5-5 12 0 6 5 13 6 14s9 15 23 20c12 5 14 4 17 4 2 0 8-3 9-7l1-6-3-2-9-4h-3l-5 6h-3l-11-7c-4-3-6-8-7-9v-3l2-2 2-3v-2l-5-10z" />
        </svg>
      </a>
    </div> 


    {% include "footer.html"  %}

    {% block js %}
    <script type="text/javascript">
      /* Menu */

    window.addEventListener('click', function (event) {

      if (botonMenu.contains(event.target) && menu.classList.contains("-translate-y-full")) {
        menu.classList.toggle("-translate-y-full");
      } else {
        if (!menu.classList.contains("-translate-y-full")) {
          menu.classList.toggle("-translate-y-full");

        }
      }

      });

      </script>

      <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
      {% comment %}  <script defer type="text/javascript" src="{% static 'js/floating-wpp.min.js' %}"></script>

        {% if settings.wgeneralData.GeneralSettings.mjeGlobo %}
        <script defer type="text/javascript">
          $(function () {
            $('#whatsapp').floatingWhatsApp({
            phone: '+591{{ settings.wgeneralData.GeneralSettings.cel }}',
            popupMessage: 'Hola, Como podemos ayuderle?',
            message: "{{ settings.wgeneralData.GeneralSettings.mjeGlobo }}",
            showPopup: false,
            showOnIE: false,
            size: 55,
            headerTitle: 'Comunicate por Whatsapp!',
            zIndex: 10000
                });
            });
        </script>
        {% endif %} {% endcomment %}

      {% endblock js %}
  </body>
</html>